/* line 1, stdin */
html, body {
  height: 100%; }

/* line 5, stdin */
* {
  margin: 0;
  padding: 0; }

/* line 10, stdin */
body {
  background-color: #333;
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  user-select: none; }

/* line 21, stdin */
.gh-icon {
  width: 35px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 15px;
  transition: opacity 100ms; }
  /* line 29, stdin */
  .gh-icon:hover {
    opacity: .5; }

/* line 34, stdin */
.particle {
  background-color: red;
  height: 10px;
  width: 10px;
  position: absolute;
  border-radius: 50%; }
  /* line 41, stdin */
  .particle .show-affection {
    position: absolute;
    border-radius: 50%;
    background-color: blue;
    content: ' ';
    opacity: 0.1;
    transform: translate3d(-50%, -50%, 0); }
